Skip to content
Search or jump to…
Pull requests
Issues
Codespaces
Marketplace
Explore
 
@w00ik3 
github
/
gitignore
Public
Fork your own copy of github/gitignore
Code
Pull requests
374
Actions
Security
Insights
gitignore/C++.gitignore

pmartinez added prerequisites for C and C++
Latest commit 2c52d02 on Jun 29, 2016
 History
 8 contributors
@malleor@peterfpeterson@rhysd@jlokimlin@bnoordhuis@d2s@mrtazz@starrify
32 lines (26 sloc)  270 Bytes

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
Footer
© 2023 GitHub, Inc.
Footer navigation
Terms
Privacy
Security
Status
Docs
Contact GitHub
Pricing
API
Training
Blog
About
